node_modules
backend/venv/Lib/site-packages/certifi/__init__.py
backend/venv/Lib/site-packages/certifi/__main__.py
backend/venv/Lib/site-packages/certifi/cacert.pem
backend/venv/Lib/site-packages/certifi/core.py
backend/venv/Lib/site-packages/certifi/py.typed
backend/venv/Lib/site-packages/certifi/__pycache__/__init__.cpython-312.pyc
backend/venv/Lib/site-packages/certifi/__pycache__/__main__.cpython-312.pyc
backend/venv/Lib/site-packages/certifi/__pycache__/core.cpython-312.pyc
backend/venv/Lib/site-packages/certifi-2024.8.30.dist-info/INSTALLER
backend/venv/Lib/site-packages/certifi-2024.8.30.dist-info/LICENSE
backend/venv/Lib/site-packages/certifi-2024.8.30.dist-info/METADATA
backend/venv/Lib/site-packages/certifi-2024.8.30.dist-info/RECORD
backend/venv/Lib/site-packages/certifi-2024.8.30.dist-info/top_level.txt
backend/venv/Lib/site-packages/certifi-2024.8.30.dist-info/WHEEL
backend/venv/Lib/site-packages/charset_normalizer/__init__.py
backend/venv/Lib/site-packages/charset_normalizer/__main__.py
backend/venv/Lib/site-packages/charset_normalizer/api.py
backend/venv/Lib/site-packages/charset_normalizer/cd.py
backend/venv/Lib/site-packages/charset_normalizer/constant.py
backend/venv/Lib/site-packages/charset_normalizer/legacy.py
backend/venv/Lib/site-packages/charset_normalizer/md__mypyc.cp312-win_amd64.pyd
backend/venv/Lib/site-packages/charset_normalizer/md.cp312-win_amd64.pyd
backend/venv/Lib/site-packages/charset_normalizer/md.py
backend/venv/Lib/site-packages/charset_normalizer/models.py
backend/venv/Lib/site-packages/charset_normalizer/py.typed
backend/venv/Lib/site-packages/charset_normalizer/utils.py
backend/venv/Lib/site-packages/charset_normalizer/version.py
backend/venv/Lib/site-packages/charset_normalizer/__pycache__/__init__.cpython-312.pyc
backend/venv/Lib/site-packages/charset_normalizer/__pycache__/__main__.cpython-312.pyc
backend/venv/Lib/site-packages/charset_normalizer/__pycache__/api.cpython-312.pyc
backend/venv/Lib/site-packages/charset_normalizer/__pycache__/cd.cpython-312.pyc
backend/venv/Lib/site-packages/charset_normalizer/__pycache__/constant.cpython-312.pyc
backend/venv/Lib/site-packages/charset_normalizer/__pycache__/legacy.cpython-312.pyc
backend/venv/Lib/site-packages/charset_normalizer/__pycache__/md.cpython-312.pyc
backend/venv/Lib/site-packages/charset_normalizer/__pycache__/models.cpython-312.pyc
backend/venv/Lib/site-packages/charset_normalizer/__pycache__/utils.cpython-312.pyc
backend/venv/Lib/site-packages/charset_normalizer/__pycache__/version.cpython-312.pyc
backend/venv/Lib/site-packages/charset_normalizer/cli/__init__.py
backend/venv/Lib/site-packages/charset_normalizer/cli/__main__.py
backend/venv/Lib/site-packages/charset_normalizer/cli/__pycache__/__init__.cpython-312.pyc
backend/venv/Lib/site-packages/charset_normalizer/cli/__pycache__/__main__.cpython-312.pyc
backend/venv/Lib/site-packages/charset_normalizer-3.4.0.dist-info/entry_points.txt
backend/venv/Lib/site-packages/charset_normalizer-3.4.0.dist-info/INSTALLER
backend/venv/Lib/site-packages/charset_normalizer-3.4.0.dist-info/LICENSE
backend/venv/Lib/site-packages/charset_normalizer-3.4.0.dist-info/METADATA
backend/venv/Lib/site-packages/charset_normalizer-3.4.0.dist-info/RECORD
backend/venv/Lib/site-packages/charset_normalizer-3.4.0.dist-info/top_level.txt
backend/venv/Lib/site-packages/charset_normalizer-3.4.0.dist-info/WHEEL
backend/venv/Lib/site-packages/dotenv/__init__.py
backend/venv/Lib/site-packages/dotenv/__main__.py
backend/venv/Lib/site-packages/dotenv/cli.py
backend/venv/Lib/site-packages/dotenv/ipython.py
backend/venv/Lib/site-packages/dotenv/main.py
backend/venv/Lib/site-packages/dotenv/parser.py
backend/venv/Lib/site-packages/dotenv/py.typed
backend/venv/Lib/site-packages/dotenv/variables.py
backend/venv/Lib/site-packages/dotenv/version.py
backend/venv/Lib/site-packages/dotenv/__pycache__/__init__.cpython-312.pyc
backend/venv/Lib/site-packages/dotenv/__pycache__/__main__.cpython-312.pyc
backend/venv/Lib/site-packages/dotenv/__pycache__/cli.cpython-312.pyc
backend/venv/Lib/site-packages/dotenv/__pycache__/ipython.cpython-312.pyc
backend/venv/Lib/site-packages/dotenv/__pycache__/main.cpython-312.pyc
backend/venv/Lib/site-packages/dotenv/__pycache__/parser.cpython-312.pyc
backend/venv/Lib/site-packages/dotenv/__pycache__/variables.cpython-312.pyc
backend/venv/Lib/site-packages/dotenv/__pycache__/version.cpython-312.pyc
backend/venv/Lib/site-packages/idna/__init__.py
backend/venv/Lib/site-packages/idna/codec.py
backend/venv/Lib/site-packages/idna/compat.py
backend/venv/Lib/site-packages/idna/core.py
backend/venv/Lib/site-packages/idna/idnadata.py
backend/venv/Lib/site-packages/idna/intranges.py
backend/venv/Lib/site-packages/idna/package_data.py
backend/venv/Lib/site-packages/idna/py.typed
backend/venv/Lib/site-packages/idna/uts46data.py
backend/venv/Lib/site-packages/idna/__pycache__/__init__.cpython-312.pyc
backend/venv/Lib/site-packages/idna/__pycache__/codec.cpython-312.pyc
backend/venv/Lib/site-packages/idna/__pycache__/compat.cpython-312.pyc
backend/venv/Lib/site-packages/idna/__pycache__/core.cpython-312.pyc
backend/venv/Lib/site-packages/idna/__pycache__/idnadata.cpython-312.pyc
backend/venv/Lib/site-packages/idna/__pycache__/intranges.cpython-312.pyc
backend/venv/Lib/site-packages/idna/__pycache__/package_data.cpython-312.pyc
backend/venv/Lib/site-packages/idna/__pycache__/uts46data.cpython-312.pyc
backend/venv/Lib/site-packages/idna-3.10.dist-info/INSTALLER
backend/venv/Lib/site-packages/idna-3.10.dist-info/LICENSE.md
backend/venv/Lib/site-packages/idna-3.10.dist-info/METADATA
backend/venv/Lib/site-packages/idna-3.10.dist-info/RECORD
backend/venv/Lib/site-packages/idna-3.10.dist-info/WHEEL
backend/venv/Lib/site-packages/python_dotenv-1.0.1.dist-info/entry_points.txt
backend/venv/Lib/site-packages/python_dotenv-1.0.1.dist-info/INSTALLER
backend/venv/Lib/site-packages/python_dotenv-1.0.1.dist-info/LICENSE
backend/venv/Lib/site-packages/python_dotenv-1.0.1.dist-info/METADATA
backend/venv/Lib/site-packages/python_dotenv-1.0.1.dist-info/RECORD
backend/venv/Lib/site-packages/python_dotenv-1.0.1.dist-info/REQUESTED
backend/venv/Lib/site-packages/python_dotenv-1.0.1.dist-info/top_level.txt
backend/venv/Lib/site-packages/python_dotenv-1.0.1.dist-info/WHEEL
backend/venv/Lib/site-packages/requests/__init__.py
backend/venv/Lib/site-packages/requests/__version__.py
backend/venv/Lib/site-packages/requests/_internal_utils.py
backend/venv/Lib/site-packages/requests/adapters.py
backend/venv/Lib/site-packages/requests/api.py
backend/venv/Lib/site-packages/requests/auth.py
backend/venv/Lib/site-packages/requests/certs.py
backend/venv/Lib/site-packages/requests/compat.py
backend/venv/Lib/site-packages/requests/cookies.py
backend/venv/Lib/site-packages/requests/exceptions.py
backend/venv/Lib/site-packages/requests/help.py
backend/venv/Lib/site-packages/requests/hooks.py
backend/venv/Lib/site-packages/requests/models.py
backend/venv/Lib/site-packages/requests/packages.py
backend/venv/Lib/site-packages/requests/sessions.py
backend/venv/Lib/site-packages/requests/status_codes.py
backend/venv/Lib/site-packages/requests/structures.py
backend/venv/Lib/site-packages/requests/utils.py
backend/venv/Lib/site-packages/requests/__pycache__/__init__.cpython-312.pyc
backend/venv/Lib/site-packages/requests/__pycache__/__version__.cpython-312.pyc
backend/venv/Lib/site-packages/requests/__pycache__/_internal_utils.cpython-312.pyc
backend/venv/Lib/site-packages/requests/__pycache__/adapters.cpython-312.pyc
backend/venv/Lib/site-packages/requests/__pycache__/api.cpython-312.pyc
backend/venv/Lib/site-packages/requests/__pycache__/auth.cpython-312.pyc
backend/venv/Lib/site-packages/requests/__pycache__/certs.cpython-312.pyc
backend/venv/Lib/site-packages/requests/__pycache__/compat.cpython-312.pyc
backend/venv/Lib/site-packages/requests/__pycache__/cookies.cpython-312.pyc
backend/venv/Lib/site-packages/requests/__pycache__/exceptions.cpython-312.pyc
backend/venv/Lib/site-packages/requests/__pycache__/help.cpython-312.pyc
backend/venv/Lib/site-packages/requests/__pycache__/hooks.cpython-312.pyc
backend/venv/Lib/site-packages/requests/__pycache__/models.cpython-312.pyc
backend/venv/Lib/site-packages/requests/__pycache__/packages.cpython-312.pyc
backend/venv/Lib/site-packages/requests/__pycache__/sessions.cpython-312.pyc
backend/venv/Lib/site-packages/requests/__pycache__/status_codes.cpython-312.pyc
backend/venv/Lib/site-packages/requests/__pycache__/structures.cpython-312.pyc
backend/venv/Lib/site-packages/requests/__pycache__/utils.cpython-312.pyc
backend/venv/Lib/site-packages/requests-2.32.3.dist-info/INSTALLER
backend/venv/Lib/site-packages/requests-2.32.3.dist-info/LICENSE
backend/venv/Lib/site-packages/requests-2.32.3.dist-info/METADATA
backend/venv/Lib/site-packages/requests-2.32.3.dist-info/RECORD
backend/venv/Lib/site-packages/requests-2.32.3.dist-info/REQUESTED
backend/venv/Lib/site-packages/requests-2.32.3.dist-info/top_level.txt
backend/venv/Lib/site-packages/requests-2.32.3.dist-info/WHEEL
backend/venv/Lib/site-packages/urllib3/__init__.py
backend/venv/Lib/site-packages/urllib3/_base_connection.py
backend/venv/Lib/site-packages/urllib3/_collections.py
backend/venv/Lib/site-packages/urllib3/_request_methods.py
backend/venv/Lib/site-packages/urllib3/_version.py
backend/venv/Lib/site-packages/urllib3/connection.py
backend/venv/Lib/site-packages/urllib3/connectionpool.py
backend/venv/Lib/site-packages/urllib3/exceptions.py
backend/venv/Lib/site-packages/urllib3/fields.py
backend/venv/Lib/site-packages/urllib3/filepost.py
backend/venv/Lib/site-packages/urllib3/poolmanager.py
backend/venv/Lib/site-packages/urllib3/py.typed
backend/venv/Lib/site-packages/urllib3/response.py
backend/venv/Lib/site-packages/urllib3/__pycache__/__init__.cpython-312.pyc
backend/venv/Lib/site-packages/urllib3/__pycache__/_base_connection.cpython-312.pyc
backend/venv/Lib/site-packages/urllib3/__pycache__/_collections.cpython-312.pyc
backend/venv/Lib/site-packages/urllib3/__pycache__/_request_methods.cpython-312.pyc
backend/venv/Lib/site-packages/urllib3/__pycache__/_version.cpython-312.pyc
backend/venv/Lib/site-packages/urllib3/__pycache__/connection.cpython-312.pyc
backend/venv/Lib/site-packages/urllib3/__pycache__/connectionpool.cpython-312.pyc
backend/venv/Lib/site-packages/urllib3/__pycache__/exceptions.cpython-312.pyc
backend/venv/Lib/site-packages/urllib3/__pycache__/fields.cpython-312.pyc
backend/venv/Lib/site-packages/urllib3/__pycache__/filepost.cpython-312.pyc
backend/venv/Lib/site-packages/urllib3/__pycache__/poolmanager.cpython-312.pyc
backend/venv/Lib/site-packages/urllib3/__pycache__/response.cpython-312.pyc
backend/venv/Lib/site-packages/urllib3/contrib/__init__.py
backend/venv/Lib/site-packages/urllib3/contrib/pyopenssl.py
backend/venv/Lib/site-packages/urllib3/contrib/socks.py
backend/venv/Lib/site-packages/urllib3/contrib/__pycache__/__init__.cpython-312.pyc
backend/venv/Lib/site-packages/urllib3/contrib/__pycache__/pyopenssl.cpython-312.pyc
backend/venv/Lib/site-packages/urllib3/contrib/__pycache__/socks.cpython-312.pyc
backend/venv/Lib/site-packages/urllib3/contrib/emscripten/__init__.py
backend/venv/Lib/site-packages/urllib3/contrib/emscripten/connection.py
backend/venv/Lib/site-packages/urllib3/contrib/emscripten/emscripten_fetch_worker.js
backend/venv/Lib/site-packages/urllib3/contrib/emscripten/fetch.py
backend/venv/Lib/site-packages/urllib3/contrib/emscripten/request.py
backend/venv/Lib/site-packages/urllib3/contrib/emscripten/response.py
backend/venv/Lib/site-packages/urllib3/contrib/emscripten/__pycache__/__init__.cpython-312.pyc
backend/venv/Lib/site-packages/urllib3/contrib/emscripten/__pycache__/connection.cpython-312.pyc
backend/venv/Lib/site-packages/urllib3/contrib/emscripten/__pycache__/fetch.cpython-312.pyc
backend/venv/Lib/site-packages/urllib3/contrib/emscripten/__pycache__/request.cpython-312.pyc
backend/venv/Lib/site-packages/urllib3/contrib/emscripten/__pycache__/response.cpython-312.pyc
backend/venv/Lib/site-packages/urllib3/http2/__init__.py
backend/venv/Lib/site-packages/urllib3/http2/connection.py
backend/venv/Lib/site-packages/urllib3/http2/probe.py
backend/venv/Lib/site-packages/urllib3/http2/__pycache__/__init__.cpython-312.pyc
backend/venv/Lib/site-packages/urllib3/http2/__pycache__/connection.cpython-312.pyc
backend/venv/Lib/site-packages/urllib3/http2/__pycache__/probe.cpython-312.pyc
backend/venv/Lib/site-packages/urllib3/util/__init__.py
backend/venv/Lib/site-packages/urllib3/util/connection.py
backend/venv/Lib/site-packages/urllib3/util/proxy.py
backend/venv/Lib/site-packages/urllib3/util/request.py
backend/venv/Lib/site-packages/urllib3/util/response.py
backend/venv/Lib/site-packages/urllib3/util/retry.py
backend/venv/Lib/site-packages/urllib3/util/ssl_.py
backend/venv/Lib/site-packages/urllib3/util/ssl_match_hostname.py
backend/venv/Lib/site-packages/urllib3/util/ssltransport.py
backend/venv/Lib/site-packages/urllib3/util/timeout.py
backend/venv/Lib/site-packages/urllib3/util/url.py
backend/venv/Lib/site-packages/urllib3/util/util.py
backend/venv/Lib/site-packages/urllib3/util/wait.py
backend/venv/Lib/site-packages/urllib3/util/__pycache__/__init__.cpython-312.pyc
backend/venv/Lib/site-packages/urllib3/util/__pycache__/connection.cpython-312.pyc
backend/venv/Lib/site-packages/urllib3/util/__pycache__/proxy.cpython-312.pyc
backend/venv/Lib/site-packages/urllib3/util/__pycache__/request.cpython-312.pyc
backend/venv/Lib/site-packages/urllib3/util/__pycache__/response.cpython-312.pyc
backend/venv/Lib/site-packages/urllib3/util/__pycache__/retry.cpython-312.pyc
backend/venv/Lib/site-packages/urllib3/util/__pycache__/ssl_.cpython-312.pyc
backend/venv/Lib/site-packages/urllib3/util/__pycache__/ssl_match_hostname.cpython-312.pyc
backend/venv/Lib/site-packages/urllib3/util/__pycache__/ssltransport.cpython-312.pyc
backend/venv/Lib/site-packages/urllib3/util/__pycache__/timeout.cpython-312.pyc
backend/venv/Lib/site-packages/urllib3/util/__pycache__/url.cpython-312.pyc
backend/venv/Lib/site-packages/urllib3/util/__pycache__/util.cpython-312.pyc
backend/venv/Lib/site-packages/urllib3/util/__pycache__/wait.cpython-312.pyc
backend/venv/Lib/site-packages/urllib3-2.2.3.dist-info/INSTALLER
backend/venv/Lib/site-packages/urllib3-2.2.3.dist-info/METADATA
backend/venv/Lib/site-packages/urllib3-2.2.3.dist-info/RECORD
backend/venv/Lib/site-packages/urllib3-2.2.3.dist-info/WHEEL
backend/venv/Lib/site-packages/urllib3-2.2.3.dist-info/licenses/LICENSE.txt
backend/venv/Scripts/dotenv.exe
backend/venv/Scripts/normalizer.exe
InternationalCountryCodes.pdf
实验3_205220013_马克西姆/实验报告.docx
实验3_205220013_马克西姆/UML/Home_component_interaction.png
实验3_205220013_马克西姆/UML/基本工作流程图.svg
实验3_205220013_马克西姆/UML/活动图.svg
实验3_205220013_马克西姆/UML/类图.svg
实验3_205220013_马克西姆/UML/通信图.svg
实验3_205220013_马克西姆/code/.babelrc
实验3_205220013_马克西姆/code/.gitignore
实验3_205220013_马克西姆/code/current_weather.json
实验3_205220013_马克西姆/code/forecast.json
实验3_205220013_马克西姆/code/geocoding.json
实验3_205220013_马克西姆/code/jest.config.js
实验3_205220013_马克西姆/code/package-lock.json
实验3_205220013_马克西姆/code/package.json
实验3_205220013_马克西姆/code/reference.jpg
实验3_205220013_马克西姆/code/request.py
实验3_205220013_马克西姆/code/res.json
实验3_205220013_马克西姆/code/webpack.config.js
实验3_205220013_马克西姆/code/__pycache__/request.cpython-312.pyc
实验3_205220013_马克西姆/code/src/App.jsx
实验3_205220013_马克西姆/code/src/define.scss
实验3_205220013_马克西姆/code/src/global.css
实验3_205220013_马克西姆/code/src/index.js
实验3_205220013_马克西姆/code/src/info_about_API_endpoints.js
实验3_205220013_马克西姆/code/src/Layout.jsx
实验3_205220013_马克西姆/code/src/main.js
实验3_205220013_马克西姆/code/src/Navbar.jsx
实验3_205220013_马克西姆/code/src/Navbar.module.scss
实验3_205220013_马克西姆/code/src/Pages/Home/DataAdapter/DataAdapter.js
实验3_205220013_马克西姆/code/src/Pages/Home/DataManager/DataManager.js
实验3_205220013_马克西姆/code/src/Pages/Home/DataManager/ForecastWeatherDataManager.js
实验3_205220013_马克西姆/code/src/Pages/Home/DataManager/GeodecodeDataManager.js
实验3_205220013_马克西姆/code/src/Pages/Home/DataManager/OneDayWeatherDataManager.js
实验3_205220013_马克西姆/code/src/Pages/Home/DataManager/UserFollowingDataManager.js
实验3_205220013_马克西姆/code/src/Pages/Home/components/Data.jsx
实验3_205220013_马克西姆/code/src/Pages/Home/components/ForecastWeather.jsx
实验3_205220013_马克西姆/code/src/Pages/Home/components/InputFields.jsx
实验3_205220013_马克西姆/code/src/Pages/Home/components/OneDayWeather.jsx
实验3_205220013_马克西姆/code/src/Pages/Home/css/Forecast.module.scss
实验3_205220013_马克西姆/code/src/Pages/Home/css/Home.module.scss
实验3_205220013_马克西姆/code/src/Pages/Home/hooks/useFetchWeatherForecast.js
实验3_205220013_马克西姆/code/src/Pages/Home/hooks/useForecastTempAutoConvert.js
实验3_205220013_马克西姆/code/src/Pages/Home/hooks/useGetONeDayWeatherData.js
实验3_205220013_马克西姆/code/src/Pages/Home/hooks/useToggle.js
实验3_205220013_马克西姆/code/src/Pages/Home/tests/extractEveryDayData.test.js
实验3_205220013_马克西姆/code/src/Pages/Home/tests/InputFields.test.skip.jsx
实验3_205220013_马克西姆/code/src/Pages/Home/tests/nextNoon.test.skip.js
实验3_205220013_马克西姆/code/src/Pages/Home/tests/useFetchWeatherForecast.skip.js
实验3_205220013_马克西姆/code/src/Pages/Home/utils/approximateCoordinates.js
实验3_205220013_马克西姆/code/src/Pages/Home/utils/convertTemperature.js
实验3_205220013_马克西姆/code/src/Pages/Home/utils/DataAdapterFactory.js
实验3_205220013_马克西姆/code/src/Pages/Home/utils/FollowingListAdapter.js
实验3_205220013_马克西姆/code/src/Pages/WaetherByCity/Components/WeatherByCity.jsx
实验3_205220013_马克西姆/code/src/Pages/WeatherByCoordinates/Components/WeatherByCoordinates.jsx
实验3_205220013_马克西姆/code/src/Pages/utils/Debugger.js
实验3_205220013_马克西姆.zip
New Microsoft Visio Drawing.vsdx
frontend/false_positives.json
frontend/true_positives.json
frontend/problems_collector.py
frontend/_lint_problems.txt
frontend/lint_problems.txt
frontend/lint_problems.txt
frontend/lint_problems.txt
frontend/lint_problems.txt
实验4_205220013_马克西姆/ESLint/lint_problems.txt
