* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    display: block;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
}

body {
    display: block;
    width: 100%;
    height: 100%;
}

#root {
    display: block;
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: #ada;
    padding-top: 50px;
}
