@import "./define.scss";


.navbar {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding-inline: 20%;
    height: 50px;
    background: rgb(242, 242, 248);
    border: 2px solid #222;
    border-top: none;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: .5s;
    z-index: 9;
    
    ul {
        display: flex;
        justify-content: center;
        width: 100%;
        min-width: 50%;
        height: 100%;

        li {
            display: grid;
            place-items: center;
            height: 100%;
            aspect-ratio: 1/1;
            max-width: 200px;
            border: none;
            border-left: 1px solid #000;
            flex-grow: 0;
            transition: .5s;

            &:hover {
                background-color: #999;
                color: rgb(243, 239, 197);
                flex-grow: 1.5;
            }
            &:first-child {
                border-left: none;
            }

            a {
                text-decoration: none;
                display: grid;
                place-items: center;
                width: 100%;
                height: 100%;
                //aspect-ratio: 1 / 1;
                background-color: inherit;
                color: #555;
                transition: 0.5s;
            }
        }
    }

    
}